extends layout

block content
  .container-fluid
    .jumbotron
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/home') Ex-Passport
          ul.nav.navbar-nav
            li.active
              a(href='/home') Home
              -if(!user)
                li
                  a(href='/register') Register
                li
                  a(href='/login') Sign In
              -else
                li
                  a(href='/list') All Member
          -if(user)
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout' type='button') Logout

    -if (user)
      .jumbotron
        .container
          .panel-heading
            h1= 'Welcome to home'
            .panel-body
              p This is a hidden message
    -else
      .jumbotron
        .container
          p You're not Signed in or Registered
          a.btn.btn-primary(href='/register', role='button') Register now !
          span
            p or
            a.btn.btn-success(href='/login', role='button') Sign In
