extends layout

block content
  .container-fluid
    .jumbotron
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/home') Ex-Passport
          ul.nav.navbar-nav
            li.active
              a(href='/home') Home
              -if(!user)
                li
                  a(href='/register') Register
                li
                  a(href='/login') Sign In
              -else
                li
                  a(href='/list') All Member
          -if(user)
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout' type='button') Logout

    -if (user)
      .jumbotron
        .container
          .panel-heading
            h1= 'Welcome to home'
            .panel-body
              p This is a hidden message
    -else
      .jumbotron
        .container
          p You're not Signed in or Registered
          form
            .form-group
              a.btn.btn-warning(href='/register', role='button') Register now !
            .form-group
              a.btn.btn-success(href='/login', role='button') Sign In
            .form-group
              a.btn.btn-info(href='/', role='button') Twitter Sign In
            .form-group
              a.btn.btn-primary(href='/auth/facebook', role='button') Facebook Sign In
            .form-group
              a.btn.btn-default(href='/auth/google', role='button') Google Sign In
