extends layout

block content
  .container-fluid
    .jumbotron
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/home') Ex-Passport
          ul.nav.navbar-nav
            li
              a(href='/home') Home
            li.active
              a(href='/register') Register
            li
              a(href='/login') Sign In
            li
              a(href='/list') All Member

      .container
        h1= title
        .container
          form(method='POST', action='/register')
            .form-group
              label(for='username') Username:
              input#email.form-control(type='text', name='username', required)
            .form-group
              label(for='email') Email address:
              input#email.form-control(type='email', name='email', required)
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password', name='password', required)
            .form-group
              button.btn.btn-success(type='submit') Submit
