<!DOCTYPE html>
<html>

  <% include head.ejs %>

  <body>

  <% include top_menu.ejs %>

  <div class="container">
    <h1>Home</h1>
    <div class="col-sm-3">
      <a href="/register">Local Register</a>
    </div>

    <div class="col-sm-3">
      <div>Register with twitter</div>
      <div>
        <a href="/auth/twitter"><i class="fa fa-twitter-square fa-5x"></i></a>
      </div>
    </div>

    <div class="col-sm-3">
      <div>Register with Facebook</div>
      <div>
        <a href="/auth/facebook"><i class="fa fa-facebook-official fa-5x"></i></a>
      </div>
    </div>

    <div class="col-sm-3">
      <div>Register with Google</div>
      <div>
        <a href="/auth/google"><i class="fa fa-google-plus-square fa-5x"></i></a>
      </div>
    </div>

  </div>


    <% include scripts.ejs %>
  </body>
</html>
