<!DOCTYPE html>
<html>

  <% include head.ejs %>

  <body>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Home</h1>
    <div class="col-sm-3">
      <a href="/register">Local Register</a>
    </div>

    <div class="col-sm-3">
      <div>Register with twitter</div>
      <div>
        <a href="/auth/twitter"><i class="fa fa-twitter-square fa-5x"></i></a>
      </div>
    </div>

    <div class="col-sm-3">
      <div>Register with Facebook</div>
      <div>
        <a href="/auth/facebook"><i class="fa fa-facebook-official fa-5x"></i></a>
      </div>
    </div>

    <div class="col-sm-3">
      <div>Register with Github</div>
      <div>
        <a href=""><i class="fa fa-github-square fa-5x"></i></a>
      </div>
    </div>
  </div>


    <% include scripts.ejs %>
  </body>
</html>
