doctype html
html
  head
    title Ini title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    block content
