extends layout

block content
  #screen
    .signup-container
      form(action='/login' method='post')
        input(type='text', placeholder='username')
        input(type='password', placeholder='password')
        button(type='submit') Login
        a(href="/auth/facebook")
          img(src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png" style="height: 50px")
        a(href="/auth/twitter")
          img(src="http://www.clipartkid.com/images/0/twitter-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-ToxhVP-clipart.png" style="height: 50px")
        a(href="/auth/google")
          img(src="https://avatars2.githubusercontent.com/u/1342004?v=3&s=400" style="height: 50px")
