extends layout

block content
  .container-fluid
    .jumbotron
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/home') Ex-Passport
          ul.nav.navbar-nav
            li
              a(href='/home') Home
              -if(!user)
                li
                  a(href='/register') Register
                li.active
                  a(href='/login') Sign In
              -else
                li
                  a(href='/list') All Member
        -if(user)
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout' type='button') Logout
      .container
        h1= title
        p Please login to explore more
        .container
          form(method='POST', action='/login')
            .form-group
              label(for='username') Username:
              input#email.form-control(type='text', name='username' required)
            .form-group
              label(for='pwd') Password:
              input#pwd.form-control(type='password', name='password' required)
            .form-group
              button.btn.btn-primary(type='submit') Login
            -if (alert)
              .alert.alert-danger.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
                strong Warning!
                |  #{alert}
