extends layout

block content
  .container
    h1= title
    .container
      form(method='POST', action='/update/#{data[0]._id}')
        .form-group
          label(for='username') Username:
          input#email.form-control(type='text', name='username', value="#{data[0].username}")
        .form-group
          label(for='email') Email address:
          input#email.form-control(type='email', name='email', value="#{data[0].email}")
        .form-group
          input(type='hidden' name='_method' value='put')
          button.btn.btn-success(type='submit') Submit
